<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Foods一覧</h1>

    <form action="/foods" method="post" >
      <select name="category">
        <!-- htmlの中にrubyのコードを埋め込む -->
        <option value="all" <%= @selected_category == "all" ? "selected" : "" %>>全て</option>
        <option value="fruits" <%= @selected_category == "fruits" ? "selected" : "" %>>果物</option>
        <option value="vegetables" <%= @selected_category == "vegetables" ? "selected" : "" %>>野菜</option>
      </select>
      <button type="search">検索</button>
    </form>
      <ul>
        <% @foods.each do |food| %>
          <li><%= food[:name] %></li>
        <% end %>
      </ul>
  </body>
</html>

<!-- rubyのコードの中にHTMLを埋め込んでも問題ないのか?後で質問する -->
