<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Foods一覧</h1>

    <form action="/foods" method="post" >
      <select name="foods">
        <!-- htmlの中にrubyのコードを埋め込む -->
        <option value="all" <% if @category == "all" %> selected <% end %> >
          全て
        </option> 
        <option value="fruits" <% if @category == "fruits" %> selected <% end %> >
          フルーツ
        </option>
        <option value="vegetables" <% if @category == "vegetables" %> selected <% end %> >
          野菜
        </option>
      </select>
      <input type="submit" value="検索" >
    </form>
    <%= req.query %>
      <ul>
        <% @foods.each do |food| %>
          <li><%= food[:name] %></li>
        <% end %>
      </ul>
  </body>
</html>

<!-- rubyのコードの中にHTMLを埋め込んでも問題ないのか?後で質問する -->